{% extends "base_auth.html" %}
{% load static %}

{% block title %}Reset Password{% endblock %}

{% block content_style %}
  <link rel="stylesheet" href="{% static 'auth_core/style.css' %}">
{% endblock %}

{% block content %}
  <div class="center">
    <h1>Reset Password</h1>

    {% if messages %}
      {% for message in messages %}
        {% if message.tags == 'error' %}
          <center><h4 style="color: firebrick;">{{ message }}</h4></center>
        {% else %}
          <center><h4 style="color: dodgerblue;">{{ message }}</h4></center>
        {% endif %}
      {% endfor %}
    {% endif %}

    {# form POST ke URL yang sama (punya reset_id di path), jadi tanpa action sudah OK #}
    <form method="POST">
      {% csrf_token %}

      <div class="txt_field">
        <input type="password" required name="password">
        <span></span>
        <label>Password</label>
      </div>

      <div class="txt_field">
        <input type="password" required name="confirm_password">
        <span></span>
        <label>Confirm Password</label>
      </div>

      <input type="submit" value="Reset Password">

      <div class="signup_link">
        Remember your password? <a href="{% url 'auth_core:auth_login' %}">Login</a>
      </div>
    </form>
  </div>
{% endblock %}
