<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8" />
  <title>Dashboard Temu Coach</title>
</head>
<body>
  <h1>Dashboard Temu Coach</h1>

  <p>Pilih menu:</p>
  <ul>
    <li><a href="{% url 'dashboard_accounts' %}">Profile & Accounts</a></li>
    <li><a href="{% url 'dashboard_coaches' %}">Coaches & Book Catalog</a></li>
    <li><a href="{% url 'dashboard_e_money' %}">E-Money</a></li>
    <li><a href="{% url 'dashboard_reviews' %}">Review & Rating</a></li>
    <li><a href="{% url 'dashboard_scheduler' %}">Scheduler</a></li>
  </ul>
</body>
</html>
